{% extends 'base.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow mb-4 fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">МоЙФильм.ТВ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Техподдержка</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Настройки
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Действие</a></li>
                <li><a class="dropdown-item" href="#">Другое действие</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link">{{ name }}</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" name="search_movie" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-primary" type="submit">Поиск</button>
          </form>
        </div>
      </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container-fluid text-center">
        <h3 class="text-shadow mb-4">
            {% if not search_movie %}Привет {{ name }}, что посмотрим сегодня?
            {% else %}{{ name }}, по твоему запросу есть фильмы!
            {% endif %}
        </h3>
        <p class="text-shadow mb-4"> Хочу посмотреть {{ search_movie| default:' ' }} </p>
    </div>

    <div class="row mb-5">
        {% for movie in movies %}
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card shadow-lg d-flex flex-column w-100 mb-4 p-1 movie-card">
                <div class="card-header p-3 bg-primary rounded-top text-white mb-0 h-100"><h5 class="text-card-shadow">{{ movie.title }}</h5></div>
<!--                <div class="card-sub-title ps-3 pb-3"><strong>{{ movie.description }}</strong></div>-->
                <img class="rounded-bottom" src="{{ movie.image.url }}">
                {% if movie.url %}
                <a class="movie-link" href="{{ movie.url }}"><strong class="text-card-shadow">Просмотр</strong></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="container mb-4 ps-0 pe-0">
        {% include "app/components/mailing_list_form.html" %}
    </div>

{% endblock %}